<!DOCTYPE html>
<html lang="ja" xmlns:og="http://ogp.me/ns#">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" /> 
  <meta name="Author" content="aileron.cc" /> 
  <meta name="apple-mobile-web-app-capable" content="yes"/>  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" />
  <meta name="description" content="rundom cat images" /> 
  <meta name="keywords" content="aileron,cat" /> 
  <meta name="fb:admins" property="fb:admins" content="100000855517275" />
  <meta name="og:title" property="og:title" content="random cats" />
  <meta name="og:type" property="og:type" content="website" />
  <meta name="og:site_name" property="og:site_name" content="RandomCats" />
  <title>RandomCats</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
 
  <% if @image %>
  <link rel="apple-touch-icon" href="<%= "http://#{request.raw_host_with_port}/#{@image.path}" %>" /> 
  <meta name="og:url" property="og:url" content="http://cat.aileron.cc/<%= @image.id %>.html" />
  <meta name="og:image" property="og:image" content="<%= "http://#{request.raw_host_with_port}/#{@image.path}" %>"/>
  <% end %>
</head>
<body>
  <div id="container">
    <div id="page">

      <%= yield %>

    </div>
  </div>
  <script type='text/javascript' src='http://growbutton.com/javascripts/button.js?apikey=6646ad90-c743-012e-f995-34ef8b105c30&shape=square&insert=false'></script> 
</body>
</html>
